{% extends 'base.html.twig' %}


{% block body %}
     <div class="container">
		<h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
		<h6 class="mb-0 text-muted"></h6>
		<table class="table">
			<tr> 
			<th>No.</th>
			<th>Productname</th>
				<th>Quantity</th>
				<th>Action</th>
				</tr> 
				{% for p in pro %}
				<tr> 
				
				<td>{{p.id}}</td>
				<td>{{p.namep}}</td> 
				<td> 
				<input id="form1" min="0" name="quantity" value="{{p.quantity}}" type="number" class="form-control form-control-sm" />
			</td> 
			{# <td><h6 class="mb-0"><span>$</span> {{sum(p.quantity,p.price)}} </h6></td> #}
			{# <td><p style="text-align:center;">${{total}}</p></td>  #}
			<td><a href="{{ path('cart_delete', { 'id': p.id }) }}" class="text-muted text-decoration-none">Delete</a></td>
			</tr>
			{% endfor %}
				</table>
				<h5>Total:${{total}}</h5>
			
				<hr class="my-4"> 
				<form action ="#">
					<input type="submit" value="Check out" name="btnBuy" class ="btn btn-primary" >
					<div class="pt-5"> 
				</div>
				<h6 class="mb-20" style="text-align:right "><a href="{{path('app_showall')}}" class="text-body">Back to shop</a></h6> 
				</form>
	
{% endblock %}

