{% extends "base.html.twig" %}
{% block title %}
    Detail of product {{p.id}}
{% endblock %}
{% block body %}
<style>
.product_name{
  font-size: 30px;
  color: black;
}

.product_price{
   font-size: 30px;
    color: black;
}

</style>
<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
                
            <div class="col-lg-5 p-5">
                    <div class="image_selected ms-3">
                    {% set img = p.image %}
                        <img src="{{asset('uploads/'~img)}}"
                        class="w-100" />
                    </div>
                </div>
                <div class="col-lg-7 p-5">
                    <div class="product_description">
                        <div class="product_name">{{p.namep}}</div>
                        <p>{{p.description}}</p>
                        <div> <span class="product_price"><span></span> $ {{p.pricep}}</div>
                        <div>  
                            {# <span class="product_info">In Stock: {{p.quantity}}<span> </div> #}
                        <hr class="singleline">
                        <div class="order_info d-flex flex-row">
                            <form action="#">
                        </div>
                        <div class="row">
                            <form action="#" method="get">
                            <div class="col-lg-3 mb-4" style="margin-left: 13px;">
                                <div class="form-group">
                                    <label for="qty_label">Quantity:</label>
                                    <input type="number" id="quantity_input" class="form-control" name="quantity_input" value="1" >     
                                </div>
                            </div>
                            <div class="col-lg-9"> <button type="submit" class="btn btn-primary shop-button">Add to Cart</button> 
                            <!-- <button type="button" class="btn btn-success shop-button">Buy Now</button> -->
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}