{% extends "base.html.twig" %}
{% block title %}
	Detail of product
	{{p.namep}}
{% endblock %}
{% block body %}
	<style>
		.product_name {
			font-size: 30px;
			color: black;
		}

		.product_price {
			font-size: 30px;
			color: black;
		}

		.btn-cart{
		margin-top: 50px;
		color: black;
		}
		.cart{
			text-decoration: none;
		}
	</style>
<section class="h-100 h-custom">
<div class="container py-5 h-100">
<div class="row d-flex justify-content-center align-items-center h-100">
	<div class="col-12">
		<div class="card card-registration card-registration-2" style="border-radius: 15px;">
			<div class="card-body p-0">
				<div class="row g-0">

					<div class="col-lg-5 p-5">
						<div class="image_selected ms-3">
							{% set img = p.image %}
							<img src="{{asset('uploads/'~img)}}" class="w-100"/>
						</div>
					</div>
					<div class="col-lg-7 p-5">
						<div class="product_description">
							<div class="product_name">{{p.namep}}</div>
							<p>{{p.description}}</p>
							<div>
								<span class="product_price">
									<span></span>
									$
									{{p.pricep}}</div>
								<div>
									<hr class="singleline">
									<div class="order_info d-flex flex-row">
									{% set proid = p.id %}
										<form action="/addcart/{{proid}}">
										</div>
										<div class="row">
													<p class="text-black" >Quantity</p>
													<input type="number" name="quantity" id="inputQuantity" value="1" min="1" max="90" class="form-control" required>
													{% if app.user %}
													<div class="col-lg-9">
														<button type="submit" class="btn btn-success shop-button btn-cart" styles="width:120px">Add to cart</button>
													</div>
													{%  else %}
													  <div class="col-lg-9">
														<button class="btn btn-success shop-button btn-cart  ">
														<a href="{{path('app_login')}}" class="text-black cart">Add to cart</a>
														</button>
													 </div>
													{% endif %}
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
