
{% extends 'admin.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
  <div className="page-heading pb-2 mt-4 mb-2 ">
                </div>
                <div class="page-content">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
               
                </div>
                <div class="card">
                    <div class="container mb-3">
                        <div class="table-responsive text-nowrap">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                        
                             <th>Order ID</th>
                            <th>Name Product</th>
                            <th>Price Product</th>
                             <th>Quantity</th>
                          </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                          {% for o in odt %}
                              <tr>
                                <td>{{ o.id}}</td>
                                 {# <td>{{ o.orderid}}</td> #}
                                <td>{{ o.namep}}</td>
                                <td>${{ o.pricep}}</td>
                                <td>{{ o.quantity}}</td>
                              </tr>
                                 <tr>
                                  {# <td>{{ o.namep}}</td> #}
                              </tr>
                          {% endfor %}          
                        </tbody>
                      </table>
                    </div>
                </div>
                </div>
                </div>
                    
                {% endblock %}